<head>
	<style>
		h1 { font-family: "Oswald", sans-serif; }
		table { width: 75%;
			margin: 0px auto;
			border-collapse: collapse; }
		table td, table th { font-size: 1em;
				 border: 1px solid #3498db;
				 padding: 3px 7px 2px 7px; }
		table th { font-size 1.1em;
			    text-align: left;
			    padding-top: 5px;
			    padding-bottom: 4px;
			    background-color: #3498db;
			    color: #fff; }
	</style>
</head>

<center><h1>Messages</h1></center>

<%= render 'shared/nav_bar' %>

<table>
  <thead>
    <tr>
	<th>From</th>
	<th>Subject</th>
	<th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% if not @messages.nil? %>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.user.name.blank? ? message.user.email : message.user.name %></td>
          <td><%= link_to message.subject, message %></td>
          <td><%= message.created_at.strftime("%b %d, %Y") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
