<head>
	<style>
		body h1 {  font-family: "Oswald", sans-serif; }
	</style>
</head>

<%= render='shared/nav_bar' %>

<body>

	<center><h1>Editing Item</h1></center>

	<%= render 'form' %>

	<center><%= link_to 'Go Back', @item %></center>

</body>
