<head>
	<style>
		body { background-color: rgba(52,152,219,.75)};
		body h1 {  font-family: "Oswald", sans-serif; }
	</style>
</head>

<body>
<div class="border-form-div">
	<center><h1>Editing Item</h1></center>

	<%= render 'form' %>

	<center><%= link_to 'Go Back', @item %></center>
</div>
</body>
