<head>
	<style>
		body { background-color: rgba(52,152,219,.75)}
		body h1 { font-family: "Oswald", sans-serif; }
	</style>
</head>

<body>
<div class="border-form-div">
	<center><h1>New item</h1></center>

	<%= render 'form' %>

	<p><center><%= link_to 'Back', items_path %></center><p/>
</div>
</body>

	

