.navbar li {
	display: inline;
    font-family: "Helvetic", sans-serif;
    font-size: 12px;
}

.navbar-header a {
	text-align: center;
}

.narvbar-header a text {
	font-family: "Lobster";
	font-size: 20px;
	color: #3498db;
}

.main {
	background-color: #FFFFFF;
}

.main img {
	display: block;
	margin:0 auto;
}

.logo{
	background-color: #3498db;
}

.logo h1 {
	font-family: "Lobster";
	font-size: 60px;
	color: #FFFFFF;
	text-align: center;
}

form {
    width: 75%;
    padding-top: 15px;
    margin:0 auto;
}

.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  margin: 0 auto;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

main {
  background: white;
  margin: 5px 0;
  padding: 10px;
}

main div {
  font-family: "Georgia", sans-serif;
  border-radius: 20px;
  font-size: 15px;
  background: #3498db;
  color: white;
  padding: 20px;
  max-width: 125px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.quicklinks {
  display: flex;
  justify-content: center;
}

.navbar-brand-name {
    display: inline-block;
    padding-top: 15px;
}

.navbar-default {
    background-color: #FFFFFF;
}










