.navbar li {
	display: inline;
	font-family: "Helvetic", sans-serif;
	font-size: 12px;
}

.navbar-default .navbar-nav > li > a {
	color: gray;
}

.navbar-default {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

.rightbuttons {
	padding: 0px;
}

.navbar-header a {
	text-align: center;
}

.navbar-header a text {
	font-family: "Lobster";
	font-size: 20px;
	color: #3498db;
}

.main {
	background-color: #FFFFFF;
}

.main img {
	display: block;
	margin:0 auto;
	max-height: 25%;
	max-width: 25%;
}

.logo{
	background-color: #3498db;
}

.logo h1 {
	font-family: "Lobster";
	font-size: 60px;
	color: #FFFFFF;
	text-align: center;
}

form {
	width: 75%;
	padding-top: 15px;
	margin:0 auto;
} 


.navbartext{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-family: Georgia;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  margin: 0 auto;
}

.quicklinks {
    margin: 5px 0;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.quicklinks a, a:hover, a:visited {
  color: #ffffff; 
  text-decoration: none;
}

.quicklinks a:hover {
    text-shadow: 1px 3px 2px rgba(0,0,0,0.4);
    text-decoration: none;
    background-color: transparent;
}

.quicklinks li {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  border-radius: 20px;
  background: #3498db;
  padding: 10px;
  max-width: 125px;
  margin: 3px;
  width: 100px;
  text-align: center;
  /*text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 1px #888888;*/
}
.navbar-brand-name {
    display: inline-block;
    padding-top: 15px;
}

