.navbar li {
	display: inline;
	font-family: "Helvetic", sans-serif;
	font-size: 12px;
}


.navbar-default .navbar-nav > li > a {
	color: gray;
}

.navbar-default {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

.navbar-header a {
	text-align: center;
}

.navbar-header a text {
	font-family: "Lobster";
	font-size: 20px;
	color: #3498db;
}

.main {
	background-color: #FFFFFF;
}

.main img {
	display: block;
	margin:0 auto;
	max-height: 25%;
	max-width: 25%;
}

.logo{
	background-color: #3498db;
}

.logo h1 {
	font-family: "Lobster";
	font-size: 60px;
	color: #FFFFFF;
	text-align: center;
}

form {
	width: 75%;
	padding-top: 15px;
	margin:0 auto;
} 


.navbartext{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-family: Georgia;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  margin: 0 auto;
}

main {
  background: white;
  margin: 5px 0;
  padding: 10px; 
}

main div {
  font-family: "Georgia", sans-serif;
  border-radius: 20px;
  font-size: 15px;
  background: #3498db;
  color: white;
  padding: 25px 5px 5px 25px;
  max-width: 125px;
  margin: 10px;
  width: 75px;
  text-align: center;
} 

.quicklinks {
  display: flex;
  justify-content: center;
}

.navbar-brand-name {
    display: inline-block;
    padding-top: 15px;
}

.navbar-default {
    background-color: #FFFFFF;
}

