<!DOCTYPE html>
<html>

    <head>
        <title> Triton Trade</title>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    
        <link href='http://fonts.googleapis.com/css?family=Poiret+One|Lobster|Droid+Serif|Playfair+Display+SC:400        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel = "stylesheet" href="homepage.css">
        
    </head>
    
    <body>

    <%= yield %>

    </body>
</html>
